{% extends 'base.html.twig' %}

{% block title %}Address index{% endblock %}

{% block body %}
    <h1>Address index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>StreetOne</th>
                <th>StreetTwo</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Route</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.type }}</td>
                <td>{{ address.streetOne }}</td>
                <td>{{ address.streetTwo }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.state }}</td>
                <td>{{ address.zip }}</td>
                <td>{{ address.route }}</td>
                <td>
                    <a href="{{ path('helpers_address_show', {'id': address.id}) }}">show</a>
                    <a href="{{ path('helpers_address_edit', {'id': address.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('helpers_address_new') }}">Create new</a>
{% endblock %}
