<main>
    <section class="card h-100" id="missionStatementCard">
        <div class="card-block p-4">
            <p id="titleParagraph">
                More than a club, we are a community. We pride ourselves on customer service, cleanliness, and
                friendliness to give you the best experience possible. It's what sets us apart from the rest!
            </p>
            <p>
                Fitness Evolution believes that you should be able to improve your health without breaking the bank.
                We love to provide our members with a high-quality club experience while keeping your membership fee
                as low as possible.
            </p>
            <p>
                We have built a meaningful community so that all of our members can feel comfortable at all times.
                Our staff and highly educated <a href="#personalTrainers">personal trainers</a>
                are always willing to provide a helping hand so that you can achieve your fitness goals. As soon as
                you step foot in our club, we want you to feel like it's a home away from home.
            </p>
            <p>
                Our clubs in <a href="{{ path('base_buffalo') }}">Buffalo</a>, <a href="{{ path('base_monticello') }}">Monticello</a>,
                and <a href="{{ path('base_zimmerman') }}">Zimmerman</a> offer many forms of exercise to fit your style
                or your particular mood for the day. You can get a great workout using our cardio equipment or by lifting
                free weights in our weight rooms. Want to mix it up a bit? Try one of our <a href="#">group fitness classes</a>
                such as Zumba &reg;, Les Mills Body Pump &reg;, or Flex or take one of our Yoga classes to relieve
                the day's stress.
            </p>
            <p>
                While each of our three clubs offers slightly different <a href="#amenities">amenities</a>,
                they all offer a few that really help our members get the most out of every day. Each club has a swimming
                pool that is kept between 82&deg; and 84&deg;, which is perfect for either starting or ending the day
                with a relaxing swim. Looking to relax in a little heat? Try our spas and saunas, both are great options
                after a game or two of racquetball in one of our racquetball courts with your friends.
            </p>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mb-5">
                <section class="card h-100" id="infoCard1">
                    <img class="card-img-top img-fluid" src="{{ asset('build/static/content-1.jpg') }}">
                    <div class="card-block p-4">
                        <h2 class="card-title">Dance Classes</h2>
                        <h5 class="card-subtitle">Get your fitness groove on</h5>
                        <p>Zumba - Latin inspired dance fintess class. Zumba Toning -Signature Zumba format with added hand-held weights for toning the entire body. Dance Jam: Free style choreographed dance fitness! Best Time Ever!</p>
                        <a class="card-link" href="#">About Dance</a>
                        <a class="card-link" href="#">Dance Page</a>
                        <a class="card-link" href="#">Some Moves</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 mb-5">
                <section class="card h-100" id="infoCard2">
                    <img class="card-img-top img-fluid" src="{{ asset('build/static/content-2.jpg') }}">
                    <div class="card-block p-4">
                        <h2 class="card-title">Personal Training</h2>
                        <h5 class="card-subtitle">One on one training to take you to the next level.</h5>
                        <p>Find that special personal trainer that can take you to your fitness peak. Each trainer provides individualized instruction for exercise programs designed specifically for you!</p>
                        <a class="card-link" href="#">About Training</a>
                        <a class="card-link" href="#">Meet our Trainers</a>
                        <a class="card-link" href="#">Basic Pricing</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 mb-5">
                <section class="card h-100" id="infoCard3">
                    <img class="card-img-top img-fluid" src="{{ asset('build/static/content-3.png') }}">
                    <div class="card-block p-4">
                        <h2 class="card-title">Mind &amp; Body Classes</h2>
                        <h5 class="card-subtitle">Specifically designed to clear your mind and replenish your body.</h5>
                        <p>Whether you want to elevate your spirit through yoga or your body through pilates, we have your covered. Heck, we even have PiYo, that's right we combine the best of both worlds into one 50 minute class. Just for you!</p>
                        <a class="card-link" href="#">About Mind &amp; Body</a>
                        <a class="card-link" href="#">Mind &amp; Body Classes</a>
                        <a class="card-link" href="#">Meet Our Instructors</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 mb-5">
                <section class="card h-100" id="infoCard4">
                    <img class="card-img-top img-fluid" src="{{ asset('build/static/content-4.jpg') }}">
                    <div class="card-block p-4">
                        <h2 class="card-title">RedZone</h2>
                        <h5 class="card-subtitle">Maximize your cardio burn through heartrate based training</h5>
                        <p>A 50-minute training session with instant intensity feedback usint heart rate monitors which track intensity so you can maximize your results. These sessions are designed to take clients through a progression of skill and intensity that will result in the best and quickest personal results.</p>
                        <a class="card-link" href="#">About RedZone</a>
                        <a class="card-link" href="#">RedZone Times</a>
                        <a class="card-link" href="#">Instructors</a>
                        <a class="card-link" href="#">Pricing</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
