{% extends 'base.html.twig' %}

{% block title %}Swim Level{% endblock %}

{% block body %}
    <h1>Swim Levels</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ swim_level.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ swim_level.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ swim_level.description }}</td>
            </tr>
            <tr>
                <th>Requirements</th>
                <td>{{ swim_level.requirements }}</td>
            </tr>
            <tr>
                <th>AgeRange</th>
                <td>{{ swim_level.ageRange }}</td>
            </tr>
            <tr>
                <th>Progression</th>
                <td>{{ swim_level.progression }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('swimming_swim_level_index') }}">back to list</a>

    <a href="{{ path('swimming_swim_level_edit', {'id': swim_level.id}) }}">edit</a>

    {{ include('swimming_swim_level/_delete_form.html.twig') }}
{% endblock %}
