{% extends 'base.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <h1>Role index</h1>
    <a href="{{ path('admin_role_new') }}"><i class="fas fa-plus-circle"></i>&nbsp; Create new</a>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>DisplayName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>{{ role.displayName }}</td>
                <td>
                    <a href="{{ path('admin_role_show', {'id': role.id}) }}"><i class="far fa-eye"></i></a>
                    <a href="{{ path('admin_role_edit', {'id': role.id}) }}"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_role_new') }}"><i class="fas fa-plus-circle"></i>&nbsp; Create new</a>
{% endblock %}
